@use '../../index.scss'as base;

.projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    @extend .center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%230026EE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%238093f7'/%3E%3Cstop offset='1' stop-color='%230026EE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(540 0)'%3E%3Cg %3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-356.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 25s ease-in-out infinite alternate;
}

.border {
    border: 2px solid black;
}

.content {
    height: 100vh;
    width: 80vw;
    padding: 8em 0em 0em;
    z-index: 99;
}

.content_sub-first {
    border-width: 0px 0px 7px 7px;
    border-color: #ee5159;
    border-style: solid;
    border-radius: 0px 0px 0px 70px;
}

.content_maintitle {
    background-image: url('https://image.ibb.co/kYsMj6/product_info.png');
    position: absolute;
    left: 100px;
    top: 60px;
    z-index: 999;
    padding: 33px 26px 26px 26px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    color: red;
    font-weight: 700;
}

.content_sub {
    min-height: 279px;
    position: relative;
}

.content_box:nth-of-type(2n) {
    flex-direction: column;
}

.content_box {
    width: 18%;
    display: flex;
    flex-direction: column-reverse;
    float: left;
    min-height: 630px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 16px;
}

.content_box:nth-of-type(2n) .number-count-even {
    margin-top: 1px
}

$numOfProjects: 5;

.content_box {
    cursor: pointer;
    @for $i from 1 through $numOfProjects {
        &:nth-of-type(#{$i}) {
            left: calc(15% + (#{$i}-1)*10%);
        }
    }
}

.content-content {
    min-height: 271px;
    position: relative;
    backdrop-filter: blur(4px);
}

.content_sub .box-1 {

    bottom: -7px;
    left: 12%;
}

.number-count-odd,
.number-count-even {
    height: 60px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 32px;
    line-height: 1.8;
    margin-bottom: 80px;
    margin-left: -60px;
    position: relative;
}

.number-count-odd {
    background-image: url(https://i.imgur.com/hPCc7JX.png);
}

.number-count-even {
    background-image: url(https://i.imgur.com/kVRsV5D.png);
}

.number-count-even::before {
    bottom: 120px;
    background: #f6b6b9;
}

.number-count-odd::before {
    top: 100px;
    background: #ee535b;
}

.number-count-odd::before,
.number-count-even::before {
    content: '';
    height: 210px;
    width: 2px;
    position: absolute;
    left: 40px;
}

.number-count-odd::after {
    border-width: 10px 10px 10px 10px;
    border-color: rgb(238, 75, 81) rgba(238, 75, 81, 0) rgba(238, 75, 81, 0) rgba(238, 75, 81, 0);
    bottom: -60px;
}

.number-count-even::after {
    border-width: 10px 10px 10px 10px;
    border-color: rgba(238, 75, 81, 0) rgba(238, 75, 81, 0) #f6b6b9 rgba(238, 75, 81, 0);
    top: -75px;
}

.number-count-odd::after,
.number-count-even::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-style: solid;
    left: 31px;
}

$personWidth: 80px;
$personHeight: 200px;

$handWidth: $personWidth / 3;
$handHeight: $personHeight / 3;

$legsWidth: $personWidth / 3;
$legsHeight: $personHeight / 3;

$numOfPersons: 8;

.person {
    @for $i from 1 through $numOfPersons {
        &#{$i} {
            width: $personWidth;
            height: $personHeight;
            display: flex;
            @extend .center;

            & .head--container {
                width: $personWidth / 2;
                min-height: $personWidth * 3/2;
                display: flex;
                animation: head-animation 2s ease forwards infinite;
                position: relative;
                top: $personWidth * 3/2 - $personWidth / 2;

                & .head {
                    @extend .border;
                    width: $personWidth / 2;
                    height: $personWidth / 2;
                    border-radius: $personWidth / 4;
                    display: flex;
                    position: relative;
                    animation: head-animation 2s ease forwards infinite;
                    background-color: white;
                    @extend .center;


                    & .face {
                        width: $personWidth / 5;
                        height: $personWidth / 5;
                        background-color: black;
                    }
                }
            }

            .stomach {
                @extend .border;
                width: $personWidth / 2;
                min-height: $personHeight / 2;
                background-color: white;
                position: relative;
                z-index: 15;
                bottom: $handHeight;

                border-radius: $personHeight / 2;
            }

            .hands {
                width: $handWidth;
                min-height: $handHeight;
                border-radius: $handHeight / 2;
                position: relative;
                top: 10px;

                & .left,
                & .right {
                    z-index: 14;
                    display: flex;
                    @extend .center;
                    justify-content: flex-end;
                    width: $handWidth;
                    height: $handHeight * 3/2;
                    position: relative;
                    bottom: $handHeight - 20px;
                    animation: bicep-anim 2s ease alternate infinite;

                    & .bicep {
                        @extend .border;
                        width: 65%;
                        min-height: 50%;
                        border-radius: $handHeight / 2;
                        background-color: rgb(242, 197, 138);
                    }

                    & .foreamr--container {
                        width: 40%;
                        height: 40%;
                        position: absolute;
                        bottom: -15px;
                        animation: forearms-rotate 4s ease infinite forwards;
                        display: flex;
                        align-items: flex-end;
                    }

                    & .forearm {
                        @extend .border;
                        width: 100%;
                        height: 60%;
                        border-radius: $handHeight / 2;
                        display: flex;
                        background-color: rgb(242, 197, 138);

                        &::before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius: 4px;
                            background-color: black;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                & .right {
                    z-index: 16;
                    bottom: ($handHeight * 2) + 15px;
                    animation-delay: .5s;
                }
            }

            .legs {
                width: $handWidth;
                min-height: $handHeight;
                border-radius: $handHeight / 2;
                position: relative;
                bottom: $handHeight + 15px;

                & .left,
                & .right {
                    z-index: 14;
                    display: flex;
                    @extend .center;
                    justify-content: flex-end;
                    width: $handWidth;
                    height: $handHeight * 3/2;
                    position: relative;
                    bottom: $handHeight - 20px;
                    animation: bicep-anim 2s ease alternate infinite;

                    & .thigh {
                        @extend .border;
                        width: 65%;
                        min-height: 50%;
                        border-radius: $handHeight / 2;
                        background-color: rgb(242, 197, 138);
                    }

                    & .feet--container {
                        width: 40%;
                        height: 40%;
                        position: absolute;
                        bottom: -15px;
                        animation: forearms-rotate 4s ease infinite forwards;
                        display: flex;
                        align-items: flex-end;
                    }

                    & .feet {
                        @extend .border;
                        width: 100%;
                        height: 60%;
                        border-radius: $handHeight / 2;
                        display: flex;
                        background-color: rgb(242, 197, 138);

                        &::before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius: 4px;
                            background-color: black;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                & .right {
                    z-index: 16;
                    bottom: ($handHeight * 2) + 15px;
                    animation-delay: .5s;
                }
            }
        }
    }
}

.persons {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @extend .unselecteable;

    &>* {
        @extend .unselecteable;
    }
}


@keyframes head-animation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    66% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes bicep-anim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    66% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes forearms-rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes leg-anim {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes feet-rotate {
    0% {
        transform: rotate(-360deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1250px) {
    @for $i from calc($numOfPersons * 3/4) through $numOfPersons {
        .person#{$i} {
            display: none;
        }
    }
}

@media (max-width: 950px) {
    @for $i from calc($numOfPersons * 1/2) through $numOfPersons {
        .person#{$i} {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    .content {
        height: auto;
        padding: 2em 0em 1em;
    }

    .content_sub,
    .content_box,
    .content-content {
        min-height: auto;
        margin-bottom: 10px;
    }

    .content_box {
        display: block;
        position: relative;
        width: 50%;
        left: 0 !important;
    }

    .content_maintitle {
        position: relative;
        left: 18%;
        top: 0;
        margin-bottom: 20px;
    }

    .content_sub-first {
        border: 0px;
    }

    .number-count-odd::before,
    .number-count-even::before,
    .number-count-odd::after,
    .number-count-even::after {
        display: none;
    }

    .number-count-odd,
    .number-count-even {
        display: none;
    }

    .mobile-number-count {
        position: absolute;
        left: -39px;
        top: -4px;
        border: 2px solid #ee525a;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 1.5;
        z-index: 9999;
        display: block !important;
        box-shadow: 0px 5px 11px rgba(238, 83, 91, 0.34);
    }

    .digital_payment_method .button_link {
        text-align: center;
        display: inline-block;
    }

    .show-case .show-case-sub {
        border-width: 10px;
        border-top: 10px solid #2F3547;
        border-bottom: 10px solid #5A6371;
        -moz-background-size: 30px 100%;
        border-radius: 20px;
        padding: 0px 6px;
    }
}

@media screen and (max-width:767px) {

    .eventandphysicelSection,
    .proud_stores,
    .digital_payment_method {
        padding: 2em 0em;
    }

    .internal-bannner {
        padding: 4em 0em 2em;
    }

    .eventandphysicelSection img {
        margin: 0px;
    }

    .digital_payment_method .angle-right {
        display: none;
    }

    .content {
        height: auto;
        padding: 2em 0em 1em;
    }

    .content_sub,
    .content_box,
    .content-content {
        min-height: auto;
        margin-bottom: 10px;
    }

    .content_box {
        display: block;
        position: relative;
        width: 100%;
        left: 0 !important;
    }

    .content_maintitle {
        position: relative;
        left: 18%;
        top: 0;
        margin-bottom: 20px;
    }

    .content_sub-first {
        border: 0px;
    }

    .number-count-odd::before,
    .number-count-even::before,
    .number-count-odd::after,
    .number-count-even::after {
        display: none;
    }

    .number-count-odd,
    .number-count-even {
        display: none;
    }

    .mobile-number-count {
        position: absolute;
        left: -39px;
        top: -4px;
        border: 2px solid #ee525a;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 1.5;
        z-index: 9999;
        display: block !important;
        box-shadow: 0px 5px 11px rgba(238, 83, 91, 0.34);
    }

    .button_link_segment {
        text-align: center;
        margin-top: 10px;
    }

    .digital_payment_method .button_link {
        text-align: center;
        display: inline-block;
    }

    .show-case .show-case-sub {
        border-width: 10px;
        border-top: 10px solid #2F3547;
        border-bottom: 10px solid #5A6371;
        -moz-background-size: 30px 100%;
        border-radius: 20px;
        padding: 0px 6px;
    }
}
