@use "../../index" as base;

.about {
    background: url('../../assets/galaxyImage.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.introduction {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    font-family: base.$styledFontFamily;
    color: blue;

    @extend .unselecteable;

    &--container {
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        background-color: rbga(7, 71, 100, 0.9);
        padding: 20px;
        z-index: 13;
    }

    &-name {
        font-size: base.$largeFontSize;
    }
    &-resignation {
        font-size: base.$fontSize;
    }
}

.game_container {
    flex: 5;
    flex-wrap: wrap;
    width: 100%;
    height: 100%
}

.canvas--container {
    width: 100%;
    height: 100%;
}

.score {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 10px;
}