@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

// font family
$styledFontFamily: 'Shojumaru', cursive;

// Font sizes
$largeFontSize: 36px;
$fontSize: 24px;


.unselecteable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.selecteable {
  user-select: auto;
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -o-user-select: auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.screen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    /* transform: translateY(30vh); */
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.screen:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Set stacking context of slides */
.screen:nth-child(1) {
    z-index: 10;
}

.screen:nth-child(2) {
    z-index: 9;
}

.screen:nth-child(3) {
    z-index: 8;
}

.screen:nth-child(4) {
    z-index: 7;
}

.screen:nth-child(5) {
    z-index: 6;
}

.screen:nth-child(6) {
    z-index: 5;
}

.screen:nth-child(7) {
    z-index: 4;
}

.screen:nth-child(8) {
    z-index: 3;
}

.screen:nth-child(9) {
    z-index: 2;
}

.screen:nth-child(10) {
    z-index: 1;
}

.content-wrapper {
    height: 100vh;
    /* transform: translateY(40vh); */
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.screen.up-scroll {
    transform: translate3d(0, -15vh, 0);
}

.screen.up-scroll .content-wrapper {
    transform: translateY(15vh);
}

.screen.up-scroll + .screen {
    transform: translate3d(0, 30vh, 0);
}

.screen.up-scroll + .screen .content-wrapper {
    transform: translateY(30vh);
}

.screen.down-scroll {
    transform: translate3d(0, -130vh, 0);
}

.screen.down-scroll .content-wrapper {
    transform: translateY(40vh);
}

.screen.down-scroll + .screen:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0);
}

.screen.down-scroll + .screen:not(.down-scroll) .content-wrapper {
    transform: translateY(15vh);
}